<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>飞狗宠物出行</title>
    <link href="/pet/static/pet/transport/common/vendor/css/vendor.css" rel="stylesheet">
    <link href="/pet/static/pet/transport/core/order/css/order.css" rel="stylesheet">
    <!--<link href="static/pet/transport/core/order/css/order-old.css" rel="stylesheet">-->
    <link href="/pet/static/pet/transport/common/weui/css/weui.min.css" rel="stylesheet">
    <link href="/pet/static/pet/transport/common/weui/css/weui-extend.css" rel="stylesheet">
    <script type="text/javascript" src="/pet/static/pet/transport/common/weui/js/zepto.min.js" ></script>
    <script type="text/javascript" src="/pet/static/pet/transport/core/common/pet_common.js" ></script>
</head>
<body style="font-size: 12px;">
<div id="app">
    <div class="weui-toptips weui-toptips_warn js_tooltips">信息提示</div>

    <div class="wrapper">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">航空公司</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="flight" class="weui-input" type="text" placeholder="请填写航空公司" value="${orderTicket.flight}">
                </div>
            </div>
            <div class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">航班号</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="flightNo" class="weui-input" type="text" placeholder="请填写航班号" value="${orderTicket.flightNo}">
                </div>
            </div>
            <!--
            TODO:验证码相关 待添加
            -->
            <div class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">起飞时间</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="takeOffTime" class="weui-input" type="datetime-local" placeholder="请填写起飞时间" value="${orderTicket.takeOffTime}">
                </div>
            </div>
            <div class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">预计到达时间</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="arriveTime" class="weui-input" type="datetime-local" placeholder="请填写预计到达时间" value="${orderTicket.arriveTime}">
                </div>
            </div>
        </div>
        <div class="">
            <a href="javascript:;" id="submitTicket" class="weui-btn weui-btn_primary">提交承运信息</a>
        </div>
    </div>
    <div class="weui_msg hide" id="sumbitSuccess" style="opacity: 0; display: none;">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作成功</h2>
            <p class="weui_msg_desc">提交成功</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                 <a id="noticeU" href="javascript:;" class="weui_btn weui_btn_primary">我已知晓</a>
            </p>
        </div>
        <div class="weui_extra_area">

        </div>
    </div>
    <div class="weui_msg hide" id="sumbitFail" style="opacity: 0; display: none;">
        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作失败</h2>
            <p class="weui_msg_desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a id="reCommit" href="javascript:;" class="weui_btn weui_btn_primary">重新提交</a>
                <a id="commitGiveUp" href="javascript:;" class="weui_btn weui_btn_default">残忍放弃</a>
            </p>
        </div>
        <div class="weui_extra_area">

        </div>
    </div>
</div>
</body>
<script>
    var orderId = '${order.id}';
    var orderNo = '${order.orderNo}';
    var ticketId='${orderTicket.id}';
    /**
     * 监听提交按钮
     */
    $('#submitTicket').on('click', function (e) {
        e.preventDefault();
        var flight = $("#flight").val();
        if(flight==undefined || flight==""){
            showErrorTips("请填写航空公司");
            return;
        }

        var flightNo = $("#flightNo").val();
        if(flightNo==undefined || flightNo==""){
            showErrorTips("请填写航班号");
            return;
        }

        var takeOffTime = $("#takeOffTime").val();
        if(takeOffTime==undefined || takeOffTime==""){
            showErrorTips("请填写起飞时间");
            return;
        }

        var arriveTime = $("#arriveTime").val();
        if(arriveTime==undefined || arriveTime==""){
            showErrorTips("请填写预计到达时间");
            return;
        }

        var param = {};
        param.orderTicketId=ticketId;
        param.orderId=orderId;
        param.orderNo=orderNo;
        param.flight=flight;
        param.flightNo=flightNo;
        param.takeOffTime=takeOffTime;
        param.arriveTime=arriveTime;

        $.ajax({
            type : "POST",
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            url : "/pet/ticket/orderAdmin/sumbitAdminTicket",
            data : param,
            success : function(data) {
                var retData = JSON.parse(data);
                if(retData.status =="success"){
                    $('#sumbitSuccess').fadeIn();
                }else{
                    $('#sumbitFail').fadeIn();
                }/**/
                // console.log(data);
            },
            error : function(){
                showErrorTips("出现网络错误");
            }

        });
    });


</script>
</html>