<html data-dpr="1" style="font-size: 54px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>宠宝机票</title>
    <link href="static/pet/transport/common/vendor/css/vendor.css" rel="stylesheet">
    <link href="static/pet/transport/core/order/css/order.css" rel="stylesheet">
    <link href="static/pet/transport/core/order/css/order-old.css" rel="stylesheet">
    <link href="static/pet/transport/common/weui/css/weui.min.css" rel="stylesheet">
    <script type="text/javascript" src="static/pet/transport/common/weui/js/zepto.min.js" ></script>
</head>
<body style="font-size: 12px;">
<div id="app">
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
    <div class="wrapper">
        <div id="app_content" class="">
            <div class="slide" id="slide1">
                <ul style="transition: all 0.3s cubic-bezier(0.22, 0.69, 0.72, 0.88); transform: translate3d(0px, 0px, 0px);">
                    <li style="transition: all 0s cubic-bezier(0.22, 0.69, 0.72, 0.88); transform: translate3d(-1309px, 0px, 0px);">
                        <a href="#">
                            <img src="images/index/adv_01.png" alt="">
                        </a>
                        <div class="slide-desc">测试1</div>
                    </li>
                    <li style="transition: all 0s cubic-bezier(0.22, 0.69, 0.72, 0.88); transform: translate3d(0px, 0px, 0px);">
                        <a href="#">
                            <img src="images/index/adv_02.png" alt="">
                        </a>
                        <div class="slide-desc">测试2</div>
                    </li>
                    <li style="transition: all 0s cubic-bezier(0.22, 0.69, 0.72, 0.88); transform: translate3d(1309px, 0px, 0px);">
                        <a href="#">
                            <img src="images/index/adv_03.png" alt="">
                        </a>
                        <div class="slide-desc">测试3</div>
                    </li>
                </ul>
                <div class="dot">
                    <span class=""></span>
                    <span class=""></span>
                    <span class="cur"></span>
                </div>
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <label class="weui-label">出发地</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="startPlaceCode" class="weui-input" type="hidden">
                        <input id="startPlaceName" class="weui-input" type="text" placeholder="请选择出发地" readonly="readonly">
                    </div>
                </div>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <label class="weui-label">目的地</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="destinationPlaceCode" class="weui-input" type="hidden">
                        <input id="destinationPlaceName" class="weui-input" type="text" placeholder="请选择目的地" readonly="readonly">
                    </div>
                </div>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell weui-cell_select" style="width: 100%">
                        <div class="weui-cell__bd" style="width: 100%">
                            <a href="javascript:;" class="weui-btn weui-btn_default" id="showDatePicker">请选择航班日期</a>
                            <input type="hidden" id="selectDate"/>
                        </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <input class="weui-input order-kind" id="petKind" type="text"  placeholder="请输入宝宠品种"/>
                        <!--<select class="weui-select" style="width: 165px;" name="select2">
                            <option value="0">请选择宝宠品种</option>
                            <option value="1">汪星人</option>
                            <option value="2">喵星人</option>
                            <option value="3">其他品种</option>
                        </select>-->
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input order-weight" id="petWeight"  type="number" pattern="[0-9]*" placeholder="请输入宝宠重量"/>
                    </div>
                    <div class="weui-textarea-counter"><span>Kg</span></div>
                </div>
            </div>

            <div class="weui-cells__title weui-cells-Addtitle">增值服务</div>
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label" for="selHkx">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name="checkbox1" id="selHkx">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>购买航空箱</p>
                    </div>
                    <a style="color:red" href="ticket/hkxsygz">航空箱适用规则</a>
                </label>
                <div class="weui-cells__tips">如果自备航空箱，请确认符合航空公司以及机场要求，以免影响运送或者产生相关额外费用!</div>
                <label class="weui-cell weui-check__label" for="selSmjc">
                    <div class="weui-cell__hd">
                        <input type="checkbox" name="checkbox1" class="weui-check" id="selSmjc">
                        <i class="weui-icon-checked"></i>
                    </div>

                    <div class="weui-cell__bd">
                        <p>上门接宠</p>
                    </div>

                </label>
            </div>
            <div>
                <input type="hidden" id="ticketPrice">
                <input type="hidden" id="petBoxPrice">
                <input type="hidden" id="placePrice">
                <input type="hidden" id="insuredPrice">
                <input type="hidden" id="totalPrice">
            </div>
            <!--<div id="insured_item" class="added-content-item">
                <div class="added-content-title"><label class="item-title">保价</label> <label
                        id="value_desc">(<span class="font-style">费率2%</span>)</label>
                    <button id="value_check_button" class="check_botton"></button> &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;</div>
            </div>-->
        </div>
    </div>
    <div class="footer-div">
        <div id="customservice" class="content-item"><label>联系客服</label>
            <button id="customservice_call"></button>
        </div>
        <!---->
        <div id="price_count_div" style="padding-right: 10px;">
            <button id="price_count_sumbit">
                费用预估
            </button>
        </div>
    </div>
    <div id="dialogs">
        <div class="js_dialog" id="showServiceTel" style="opacity: 0; display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">客服联系电话:<a>17899999999</a></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--BEGIN dialog4-->
        <div class="js_dialog" id="showPrice" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog weui-skin_android">
                <div class="weui-dialog__bd" id="countPriceInfo">

                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="gaveUpOrder" class="weui-dialog__btn weui-dialog__btn_default">残忍放弃</a>
                    <a href="javascript:;" id="submitOrder" class="weui-dialog__btn weui-dialog__btn_primary">开始下单</a>
                </div>
            </div>
        </div>
        <!--END dialog4-->
    </div>
</div>

<script type="text/javascript" src="static/pet/transport/common/weui/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="static/pet/transport/common/weui/js/swipe.js"></script>
<script type="text/javascript" src="static/pet/transport/core/order/js/order-datapicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/pet/transport/common/vendor/js/vendor.js"></script>
<script type="text/javascript" src="static/pet/transport/core/order/js/order.js"></script>
<script type="text/javascript" src="static/pet/transport/common/weui/js/weui.min.js"></script>

</body>
</html>