<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>登录飞狗</title>
</head>
<script language="javascript" type="text/javascript">
    // 以下方式直接跳转
    window.location.href='/pet/uc/wechatOauth';
    // 以下方式定时跳转
    setTimeout("javascript:location.href='/pet/uc/wechatOauth'", 5000);
</script>
<body>
<!--<form action="/pet/uc/checkLogin" method="post">
    username: <input type="text" name="username" value="test1"><br>
    password: <input type="password" name="password" value="1"><br>
    <input type="submit" value="登录">
</form>-->
</body>
</html>
