.weui-cell_orderForm {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    line-height: 45px;
}
.weui-cells-Addtitle{
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
    font-size: 19px !important;
}


<!--顶部滚轮-->
.slide {
    position: relative;
    max-width: 100%;
    max-height: 60%;
    overflow: hidden;
    margin: 0px auto;
}

.slide ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide li:first-child {
    z-index: 1;
}

.slide .slide-desc {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 5px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

#app .wrapper {
    height: calc(100% - 1.44rem);
    overflow: auto;
}
#app .footer-div {
    /*height: 1.813333rem;*/
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: .026667rem;
    z-index: 2;
    box-shadow: 0 0 .32rem .026667rem rgba(0, 0, 0, .1);
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
}

#app .footer-div #customservice {
    /*height: 100%;*/
    border-right: .026667rem solid #dbdbdb;
    line-height: 100%;
    width: 1.733333rem;
}

#app .footer-div #bottom_money_div {
    height: calc(100% - .106667rem);
    width: calc(100% - 5.84rem);
}

#app .footer-div #price_count_div #price_count_sumbit {
    margin-bottom: .133333rem;
    height: calc(75% - .08rem);
    width: 3.2rem;
    line-height: 1.173333rem;
    background: #e71b1b;
    font-size: .48rem;
    color: #fff;
    text-align: center;
    border-radius: .16rem;
    border: none;
    vertical-align: middle;
}
#app .footer-div #customservice label {
    display: inline-block;
    font-size: .293333rem;
    height: auto;
    width: .693333rem;
    line-height: .346667rem;
    margin-left: .213333rem;
    padding: .373333rem 0;
}

#app .footer-div #customservice #customservice_call {
    display: inline-block;
    background: url("/pet/images/pet/transport/core/order/phone.png");
    background-size: cover;
    width: .453333rem;
    height: .453333rem;
    border: none;
    padding: 0;
}

#app .footer-div #bottom_money_title {
    display: inline-block;
    height: 100%;
    line-height: 1.44rem;
    font-size: .426667rem;
    color: #666;
}

#app .footer-div #bottom_money_label {
    display: inline-block;
    height: 100%;
    line-height: 1.44rem;
    font-size: .56rem;
    color: #e71b1b;
}
.order-weight{
    text-align: right;
    padding-right: 10px;
}
.order-kind{
    width: 165px;
}
#app .slide, #app .slide .slideshow {
    width: 100%;
    height: 1.46667rem;
}
#app .slide img {
    width: 100%;
    height: 1.46667rem;
}

#app button, #app input, #app select, #app textarea {
    font-family: Microsoft Yahei;
}

#app .weui-cells__title {
    line-height: .586667rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: .533333rem;
    padding-right: .533333rem;
}
button, input, select, textarea {
    font-size: .293333rem;
    font-weight: 400;
}


.weui_msg {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1003;
    padding-top: 36px;
    text-align: center;
}
.weui_msg .weui_icon_area {
    margin-bottom: 30px;
}

.weui_msg .weui_text_area {
    margin-bottom: 25px;
    padding: 0 20px;
}
.weui_msg .weui_msg_title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}
.weui_msg .weui_msg_desc {
    font-size: 14px;
    color: #888;
}
.weui_msg .weui_opr_area {
    margin-bottom: 25px;
}
.weui_btn_area {
    margin: 1.17647059em 15px .3em;
}
.weui_btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.33333333;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}
.weui_btn_primary {
    background-color: #04be02;
}
.weui_btn_default:not(.weui_btn_disabled):visited {
    color: #454545;
}
.weui_btn+.weui_btn {
    margin-top: 15px;
}
.weui_btn_default {
    background-color: #f7f7f7;
    color: #454545;
}

.weui_icon_success:before {
    font-size: 23px;
    color: #09bb07;
}
.weui_icon_msg:before {
    font-size: 104px;
}
[class*=" weui_icon_"]:before, [class^=weui_icon_]:before {
    margin: 0;
}
.weui_icon_success:before {
    content: "\EA06";
}
[class*=" weui_icon_"]:before, [class^=weui_icon_]:before {
    font-family: weui;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
[class*=" weui_icon_"]:before, [class^=weui_icon_]:before {
    margin: 0;
}
[class*=" weui_icon_"]:before, [class^=weui_icon_]:before {
    font-family: weui;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.weui_icon_warn.weui_icon_msg:before {
    color: #f76260;
}

.weui_icon_warn:before {
    font-size: 23px;
    color: #f43530;
}
.weui_icon_msg:before {
    font-size: 104px;
}
.weui_icon_warn:before {
    content: "\EA0B";
}