<html data-dpr="1" style="font-size: 54px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>飞狗宠物出行</title>
    <link href="/pet/static/pet/transport/common/vendor/css/vendor.css" rel="stylesheet">
    <link href="/pet/static/pet/transport/core/order/css/order.css" rel="stylesheet">
    <!--<link href="static/pet/transport/core/order/css/order-old.css" rel="stylesheet">-->
    <link href="/pet/static/pet/transport/common/weui/css/weui.min.css" rel="stylesheet">
    <link href="/pet/static/pet/transport/common/weui/css/weui-extend.css" rel="stylesheet">
    <script type="text/javascript" src="/pet/static/pet/transport/common/weui/js/zepto.min.js" ></script>
</head>
<body style="font-size: 12px;">
<#if errorCode!="">
    <#if errorCode="101">
        当前订单已经收货，请勿重复操作
    <#elseif errorCode="001">
        您无权进行访问
    <#else>
    </#if>
<#else>
<div id="app">
    <div class="weui-toptips weui-toptips_warn js_tooltips">信息提示</div>
    <div class="wrapper">
        <div id="app_content" class="" style="margin-bottom: 100px;">
            <div class="weui-cells__title ">基本信息</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <label class="weui-label">出发地</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="startPlaceCode" class="weui-input" type="hidden" value="${order.startPlaceCode}" >
                        <input id="startPlaceName" class="weui-input" type="text" placeholder="请选择出发地" value="${order.startPlaceName}" readonly="readonly">
                    </div>
                </div>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <label class="weui-label">目的地</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="destinationPlaceCode" class="weui-input" type="hidden" value="${order.destinationPlaceCode}">
                        <input id="destinationPlaceName" class="weui-input" type="text" placeholder="请选择目的地" value="${order.destinationPlaceName}" readonly="readonly">
                    </div>
                </div>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell weui-cell_select" style="width: 100%">
                        <div class="weui-cell__bd" style="width: 100%">
                            <a href="javascript:;" class="weui-btn weui-btn_default" id="showDatePicker">${order.transDate}</a>
                            <input type="hidden" id="selectDate" value="${order.transDate}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title ">宠物信息</div>
            <div class="weui-cells weui-cells_orderForm" id="petAddDiv">
                <#list orderPets as pet>
                    <div class="pet-container" isThisChange="false">

                        <div>
                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">宠物昵称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="petNameSpan">${pet.petName}</span>

                                </div>
                            </div>
                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">宠物品种</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="petKindSpan">${pet.petKind}</span>

                                </div>
                            </div>

                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">宠物重量</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="petWeightSpan">${pet.petWeight}</span>
                                </div>
                            </div>
                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">宠物年龄</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="petAgeSpan">${pet.petAge}</span>
                                    <span style="color: #b2b2b2;text-align: right;">月龄</span>
                                </div>
                            </div>
                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">宠物性别</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="petSexSpan">${pet.petSex}</span>
                                </div>
                            </div>
                            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">航空箱价格</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <span id="singleBoxPriceSpan">${pet.singleBoxPrice}</span>
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;margin: 5;">
                            <a href="javascript:;" onclick="editPetInfo(this)" class="weui-btn weui-btn_mini weui-btn_default">编辑</a>
                            <a href="javascript:;" onclick="removePetDiv(this)" class="weui-btn weui-btn_mini weui-btn_warn">删除</a>
                        </div>


                        <input id="petId" type="hidden" value="${pet.id}">
                        <input id="petName" type="hidden" value="${pet.petName}">
                        <input id="petKind" type="hidden" value="${pet.petKind}">
                        <input id="petHeight" type="hidden" value="${pet.petHeight}">
                        <input id="petWeight" type="hidden" value="${pet.petWeight}">
                        <input id="petCharacter" type="hidden" value="${pet.petCharacter}">
                        <input id="petSex" type="hidden" value="${pet.petSex}">
                        <input id="petAge" type="hidden" value="${pet.petAge}">
                        <#if pet.singleBoxPrice==''||pet.singleBoxPrice==0>
                            <input id="selHkxInput" type="hidden" value="false">
                        <#else>
                            <input id="selHkxInput" type="hidden" value="true">
                        </#if>
                        <#if pet.quarantineCertAss==''||pet.quarantineCertAss==0>
                            <input id="selDWJYHGInput" type="hidden" value="false">
                        <#else>
                            <input id="selDWJYHGInput" type="hidden" value="true">
                        </#if>
                    </div>
                </#list>
            </div>

            <div class="weui-cell weui-cell_orderForm">
                <a href="javascript:;" id="addPet"  class="weui-btn weui-btn_mini weui-btn_primary">增加</a>
            </div>
            <div class="weui-cells__title ">特色服务</div>
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label" for="selSmjc">
                    <div class="weui-cell__hd">
                        <#if order.placeDetail==''>
                            <input type="checkbox" name="checkbox1" class="weui-check" id="selSmjc" >
                        <#else>
                            <input type="checkbox" name="checkbox1" class="weui-check" id="selSmjc" checked>
                        </#if>

                        <i class="weui-icon-checked"></i>
                    </div>

                    <div class="weui-cell__bd">
                        <p>上门接宠</p>
                    </div>

                </label>
            </div>
            <#if order.placeDetail==''>
                <div id="jieChongInfo" class="weui-cells hide">
            <#else>
                <div id="jieChongInfo" class="weui-cells">
            </#if>
                    <div class="weui-cell weui-cell_orderForm">
                        <div class="weui-cell__hd">
                            <span style="font-size:16px;">详细地址:</span>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" name="receiptPlace" id="receiptPlace" value="${order.placeDetail}"   style="width:100%;height:30px;backgroun:#fff;border:1px solid #b7b7b7;color:#4c4c4c;font-size:15px;" data-msg=" " data-target="#msg_receiptPlace"  readonly class="n-valid">
                            <input type="hidden" name="placeDistance" id="placeDistance" value="${order.placeDistance}" >
                            <button id="markMap">地图标注</button><!---->
                        </div>
                    </div>
            </div>
            <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px">
                <label class="weui-cell weui-check__label" for="selBjfw">
                    <div class="weui-cell__hd">
                        <#if order.declarePrice==''>
                        <input type="checkbox" name="checkbox1" class="weui-check" id="selBjfw" >
                        <#else>
                        <input type="checkbox" name="checkbox1" class="weui-check" id="selBjfw" checked>
                        </#if>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>保价服务
                    </div>
                </label>
            </div>
            <#if order.declarePrice==''>
                <div id="bjfwInfo" class="weui-cells hide" style="margin-top: 0px">
            <#else>
                <div id="bjfwInfo" class="weui-cells" style="margin-top: 0px">
            </#if>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <span style="font-size:16px;">声明价值:</span>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="declarePrice" placeholder="3000～20000" value="${order.declarePrice}"  style="width: 40%" onkeyup="value=value.replace(/[^\d]/g,'')" type="number" pattern="[0-9]*">
                        <label id="value_money_label">元</label>
                        <span id="insuredPrice" class="order-money font-style"  style="width: 50%">费率5%</span>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px">
                <label class="weui-cell weui-check__label" for="selQtfy">
                    <div class="weui-cell__hd">
                        <#if order.otherPrice==''>
                        <input type="checkbox" name="checkbox1" class="weui-check" id="selQtfy" >
                        <#else>
                        <input type="checkbox" name="checkbox1" class="weui-check" id="selQtfy" checked>
                    </#if>
                    <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>其他费用
            </div>
            </label>
            </div>
            <#if order.otherPrice==''>
            <div id="qtfyInfo" class="weui-cells hide" style="margin-top: 0px">
            <#else>
            <div id="qtfyInfo" class="weui-cells" style="margin-top: 0px">
            </#if>
                <div class="weui-cell weui-cell_orderForm">
                    <div class="weui-cell__hd">
                        <span style="font-size:16px;">其他费用:</span>
                    </div>
                    <div class="weui-cell__bd">
                        <input id="otherPrice" placeholder="" value="${order.otherPrice}"  style="width: 40%" onkeyup="value=value.replace(/[^\d]/g,'')" type="number" pattern="[0-9]*">
                        <label id="otherPrice_label">元</label>
                    </div>
                </div>
            </div>

            <div>
                <input type="hidden" id="orderId" value="${order.id}" >
                <input type="hidden" id="ticketPrice">
                <input type="hidden" id="petBoxPrice">
                <input type="hidden" id="placePrice">
                <input type="hidden" id="totalPrice">
            </div>
            <div>
                <a  id="priceAdminSumbit" href="javascript:;" class="weui-btn weui-btn_primary">预估费用</a>
            </div>
        </div>
    </div>
    <div id="dialogs">
        <div class="js_dialog" id="showServiceTel" style="opacity: 0; display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">客服联系电话:<a>17899999999</a></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--BEGIN dialog4-->
        <div class="js_dialog" id="showPrice" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog weui-skin_android">
                <div class="weui-dialog__bd" id="countPriceInfo">

                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="adminSubmitOrder" class="weui-dialog__btn weui-dialog__btn_primary">下一步</a>
                </div>
            </div>
        </div>
        <!--END dialog4-->
    </div>
    <div class="weui_msg hide" id="sumbitSuccess" style="opacity: 0; display: none;">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作成功</h2>
            <p class="weui_msg_desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a id="toPay" href="javascript:;" class="weui_btn weui_btn_primary">马上支付</a>
                <a id="offlinePay" href="javascript:;" class="weui_btn weui_btn_default">稍后支付</a><!---->
            </p>
        </div>
        <div class="weui_extra_area">

        </div>
    </div>
    <div class="weui_msg hide" id="sumbitFail" style="opacity: 0; display: none;">
        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作失败</h2>
            <p class="weui_msg_desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a id="reCommit" href="javascript:;" class="weui_btn weui_btn_primary">重新提交</a>
                <a id="commitGiveUp" href="javascript:;" class="weui_btn weui_btn_default">残忍放弃</a>
            </p>
        </div>
        <div class="weui_extra_area">

        </div>
    </div>
    <div class="weui_msg hide" id="petInfo" style="opacity: 0; display: none;font-size: 17px">
        <div class="weui-cell weui-cell_orderForm">
            <div class="weui-cell__hd">
                <label class="weui-label">宠物昵称</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input order-weight" id="petNameTemplate"  type="text" placeholder="请输入宠物昵称"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_orderForm">
            <div class="weui-cell__hd">
                <label class="weui-label">宠物品种</label>
            </div>
            <div class="weui-cell__bd">
                <input id="showPetKindPickerTemplate" class="weui-input order-weight" type="text" placeholder="请输入宠物品种" readonly="readonly">
                <input class="weui-input order-kind" id="petKindTemplate" type="hidden"  placeholder="请输入宠物品种"/>
                <input id="petCharacterTemplate" type="hidden"/>
            </div>
        </div>

        <div class="weui-cell weui-cell_orderForm">
            <div class="weui-cell__hd">
                <span style="color: red;">*</span>
                <label style="padding-left: 0px" class="weui-label">宠物重量</label>
            </div>
            <div class="weui-cell__bd">
                <input style="width: 50%;text-align: right;"  class="weui-input order-weight" id="petWeightTemplate"  type="number" pattern="(^[1-4][0-9]$)|(^[5][0]$)|(^[1-9]$)" placeholder="<50"/>
                <span style="color: #b2b2b2;text-align: right;">Kg</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_orderForm" style="line-height: 25px">
            <div class="weui-cell__hd">
                <label class="weui-label">宠物年龄</label>
            </div>
            <div class="weui-cell__bd">
                <input style="width: 80%;text-align: right;"  class="weui-input order-weight" id="petAgeTemplate"  type="number" pattern="(^[1-4][0-9]$)|(^[5][0]$)|(^[1-9]$)" placeholder="请填写月龄"/>
                <span style="color: #b2b2b2;text-align: right;">月龄</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_orderForm" style="line-height: 25px;">
            <div class="weui-cell__hd">
                <label class="weui-label">宠物性别</label>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-form">
                    <div class="weui-form-li iblock" style="margin: 0px 0px;">
                        <input class="weui-form-checkbox" name="petSexTemplate" id="petSexTemplate1" value="妹妹" type="radio">
                        <label for="petSexTemplate1">
                            <i class="weui-icon-radio" ></i>
                            <div class="weui-form-text"><p>妹妹</p></div>
                        </label>
                    </div>

                    <div class="weui-form-li iblock" style="margin: 0px 0px;">
                        <input class="weui-form-checkbox" name="petSexTemplate" id="petSexTemplate2" value="弟弟" type="radio">
                        <label for="petSexTemplate2">
                            <i class="weui-icon-radio"></i>
                            <div class="weui-form-text"><p>弟弟</p></div>
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="selHkxTemplate">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="checkbox1" id="selHkxTemplate" checked="checked">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>购买航空箱</p>
                </div>
            </label>
            <div id="hkxInfo" class="weui-cells" style="margin-top: 0px">
            <div class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <span style="font-size:16px;">选择航空箱:</span>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="petAirBoxIDTemplate" type="text" value="" readonly="" data-weui-select="" data-values="">
                </div>
            </div>
        </div>
           <!-- <div class="weui-cells__tips">
                <p style="margin-bottom:0;font-size:15px;color:#f09100;">*根据宠物体重，系统会自动匹配
                    <input class="weui-input" id="PetAirBoxID" type="text" value="" readonly="" data-weui-select="[object Object]" data-values="">
                    &lt;!&ndash;<input type="hidden" name="PetAirBoxID" value="0" id="PetAirBoxID" data-target="#msg_FlightDate">&ndash;&gt;
                </p>
            </div>-->
        </div>
        <a id="petAddConfirm" href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
        <a id="petAddCancel" href="javascript:;" class="weui_btn weui_btn_default">取消</a>
    </div>
    <div class="weui_msg_img hide" id="mapInfo" style="opacity: 0; display: none;">
        <iframe style="width: 100%;height: 100%;" src="http://m.airgopet.com/pet/ticket/order/map/"></iframe>
    </div>

</div>
<script id="petTpl" type="text/html">
    <div class="pet-container" isThisChange="false">
        <div>
            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">宠物昵称</label>
                </div>
                <div class="weui-cell__bd">
                    <span id="petNameSpan"><%:=pet.petName%></span>

                </div>
            </div>
            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">宠物品种</label>
                </div>
                <div class="weui-cell__bd">
                    <span id="petKindSpan"><%:=pet.petKindShow%></span>

                </div>
            </div>

            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">宠物重量</label>
                </div>
                <div class="weui-cell__bd">
                    <span id="petWeightSpan"><%:=pet.petWeight%></span>
                </div>
            </div>
            <div style="padding:2px 2px;line-height: 25px" class="weui-cell weui-cell_orderForm">
                <div class="weui-cell__hd">
                    <label class="weui-label">航空箱价格</label>
                </div>
                <div class="weui-cell__bd">
                    <span id="singleBoxPriceSpan"><%:=pet.singleBoxPrice%></span>
                </div>
            </div>

        </div>
        <div style="text-align: center;margin: 5;">
            <a href="javascript:;" onclick="editPetInfo(this)" class="weui-btn weui-btn_mini weui-btn_default">编辑</a>
            <a href="javascript:;" onclick="removePetDiv(this)" class="weui-btn weui-btn_mini weui-btn_warn">删除</a>
        </div>
        <input id="petId" type="hidden" value="<%:=pet.petId%>">
        <input id="petName" type="hidden" value="<%:=pet.petName%>">
        <input id="petKind" type="hidden" value="<%:=pet.petKind%>">
        <input id="petHeight" type="hidden" value="<%:=pet.petHeight%>">
        <input id="petWeight" type="hidden" value="<%:=pet.petWeight%>">
        <input id="selDWJYHGInput" type="hidden" value="<%:=pet.selDWJYHG%>">
        <input id="selHkxInput" type="hidden" value="<%:=pet.selHkx%>">
    </div>
</script>
<script type="text/javascript" src="/pet/static/pet/transport/common/weui/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/common/weui/js/swipe.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/core/order/js/order-datapicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/pet/static/pet/transport/common/vendor/js/vendor.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/core/order/js/order.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/core/order/js/order4Admin.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/common/weui/js/weui.min.js"></script>
<script type="text/javascript" src="/pet/static/pet/transport/common/template/template.js"></script>
</#if>
</body>
</html>